services:
  author-core:
    build:
      context: .
      dockerfile: author/core/Dockerfile
    image: aemm-author-core:dev
    container_name: aemm-author-core
    ports:
      - "4501:4501"

  author-ui:
    build:
      context: .
      dockerfile: author/ui/Dockerfile
    image: aemm-author-ui:dev
    container_name: aemm-author-ui
    ports:
      - "4502:3000"