services:
  author-core:
    build:
      context: .
      dockerfile: author/core/Dockerfile
    image: aemm-author-core:dev
    container_name: aemm-author-core
    ports:
      - "4501:4501"
    volumes:
      - ./content:/app/content:rw
      - ./author/core/data:/app/data:rw
    environment:
      DATABASE_PATH: "/app/data/core.sqlite"
      CONTENT_ROOT: "/app/content"
    env_file:
      - ./author/core/.env

  author-ui:
    build:
      context: .
      dockerfile: author/ui/Dockerfile
    image: aemm-author-ui:dev
    container_name: aemm-author-ui
    ports:
      - "4502:3000"